<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sez.lalaattendance">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity" android:theme="@style/Theme.Design.NoActionBar" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/logo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>
        <activity
            android:name=".bscit_fy"
            android:label="FY - BSCIT "
            android:screenOrientation="portrait" />
        <activity
            android:name=".bscit"
            android:label="BSCIT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bscit_sy"
            android:label="SY BSCIT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bscit_ty"
            android:label="TY BSCIT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bmm"
            android:label="BMM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fybmm"
            android:label="FY BMM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sybmm"
            android:label="SY BMM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybmm"
            android:label="TY BMM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybmm_advt"
            android:label="TY BMM ADVT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybmm_journalism"
            android:label="TY BMM JOURNO"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baf"
            android:label="BAF"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baf_fy"
            android:label="FY BAF"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baf_sy"
            android:label="SY BAF"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baf_ty"
            android:label="TY BAF"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BFM"
            android:label="BFM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bfm_fy"
            android:label="FY BFM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bfm_sy"
            android:label="SY BFM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bfm_ty"
            android:label="TY BFM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BBI"
            android:label="BBI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bbi_fy"
            android:label="FY BBI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bbi_sy"
            android:label="SY BBI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bbi_ty"
            android:label="TY BBI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bms"
            android:label="FY BMS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FyBms_a"
            android:label="FY BMS A"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fybms_b"
            android:label="FY BMS B"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fybms_c"
            android:label="FY BMS C"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fybms_d"
            android:label="FY BMS D"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sybms"
            android:label="SYBMS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sybms_a"
            android:label="SY BMS A"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sybms_b"
            android:label="SY BMS B"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sybms_c"
            android:label="SY BMS C"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sybms_d"
            android:label="SY BMS D"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sybms_marketing"
            android:label="SY BMS MARK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sybms_finance"
            android:label="SY BMS FINAN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybms"
            android:label="TYBMS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybms_a"
            android:label="TY BMS A"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybms_b"
            android:label="TY BMS B"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybms_c"
            android:label="TY BMS C"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybms_d"
            android:label="TY BMS D"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybms_m"
            android:label="TY BMS MARK"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybms_f"
            android:label="TY BMS FINAN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fybscit_practical"
            android:label="FY IT PRAC"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sybscit_practical"
            android:label="FY IT PRAC"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybscit_practical"
            android:label="TY IT PRAC"
            android:screenOrientation="portrait" />
       <activity android:name=".baf_fyA" android:label="BAF A" android:screenOrientation="portrait" />
        <activity android:name=".baf_fyB" android:label="BAF B" android:screenOrientation="portrait" />
        <activity android:name=".fybmm_A" android:label="BMM A" android:screenOrientation="portrait" />
        <activity android:name=".fybmm_B" android:label="BMM B" android:screenOrientation="portrait" />

    </application>

</manifest>