<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sez.lalaattendance">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bms_activity"></activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/logo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity
            android:name=".bscit_fy"
            android:label="FY - BSCIT "
            android:screenOrientation="portrait" />
        <activity
            android:name=".bscit"
            android:label="BSCIT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bmm"
            android:label="BMM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fybmm"
            android:label="FY BMM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sybmm"
            android:label="SY BMM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybmm"
            android:label="TY BMM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybmm_advt"
            android:label="TY BMM ADVT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybmm_journalism"
            android:label="TY BMM JOURNO"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baf"
            android:label="BAF"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baf_sy"
            android:label="SY BAF"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BFM"
            android:label="BFM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bfm_fy"
            android:label="FY BFM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BBI"
            android:label="BBI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bbi_fy"
            android:label="FY BBI"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".bms"
            android:label="FY BMS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tybms"
            android:label="TYBMS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fybscit_practical"
            android:label="FY IT PRAC"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baf_fyA"
            android:label="BAF A"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fybmm_A"
            android:label="BMM A"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fybmm_B"
            android:label="BMM B"
            android:screenOrientation="portrait" />
    </application>

</manifest>